@import "../styles/custom-media.css";

.root {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100vw;

  @media (--media-min-medium) {
    width: 33.33vw;
  }
}

.name {
  composes: responsiveTitle1 from "./typography.module.css";
}

.leadMediaThumb {
  max-height: 375px;
  @nest & img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.leadMediaThumb:hover {
  transform: scale(1.1);
}

.name {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}
