@import "../styles/custom-media.css";

.box {
  margin: 0 auto;
}

.cardCollection{
  display: flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: auto;
}

.intro {
  composes: title1 from "./typography.module.css";
  text-align: center;
}

.category {
  composes: title1 from "./typography.module.css";
  color: var(--color-accent);
  margin: 20px;
}
