@import "../styles/custom-media.css";

.grid {
  margin: 20px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  composes: title1 from "./typography.module.css";
  padding: 10px 0;
  margin: 10px 0;
}

@media (--media-min-small) {
  .box {
    padding: 20px;
    margin: 20px;
  }
}

.box > p,
.box > ol {
  margin: 0;
}
